<h1 class="home-title">Contact</h1>
<p class="home-text">In case you need any Help or you have questions regarding our financial services,
  we are happy to help you. You can find our contact information below.
  Please note that it can take up to several business days for us to reply.</p>
<div class="lists" style="display: flex; justify-content: space-between">
  <ul class="list-unstyled">
    <li class="list-title">Skyelar Maurer (COO):</li>
    <li>Max-Högger-Strasse 2</li>
    <li>CH-8048 Altstetten</li>
    <li>Switzerland</li>
    <li><br></li>
    <li>skyelar.maurer@bbcag.ch</li>
    <li>+41 76 123 45 67</li>
    <li>(Monday - Thursday 09:00 - 17:00)</li>
  </ul>

  <ul class="list-unstyled">
    <li class="list-title">Anastasia Spasojevic (CEO):</li>
    <li>Max-Högger-Strasse 2</li>
    <li>CH-8048 Altstetten</li>
    <li>Switzerland</li>
    <li><br></li>
    <li>anastasia.spasojevic@bbcag.ch</li>
    <li>+41 76 765 43 21</li>
    <li>(Tuesday - Friday 09:00 - 17:00)</li>
  </ul>
</div>
