<h1 class="home-title">Welcome to TTBank</h1>
<p class="home-text">Founded in 1895 TTBank is a leading worldwide investment bank, wealth manager and financial
  services provider. We strive to create superior value for our clients, shareholders and employees. <br> We want to
  stand out as a winner in our industry: for our expertise, advice and execution, our contribution to society, our work
  environment, and our business success.</p>
<div class="home-img">
  <img src="../../../assets/logo_banner.png" class="home-img">
</div>
<h2 class="home-secondary-title">Our trading platform</h2>
<p class="home-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
  sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
  no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,</p>
