@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css");

.logbutton {
  margin-right: 1rem;
  margin-top: 10px;
  height: 40px;
  vertical-align: middle;
  order: 1;
}

.headerImage {
  order: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #162539;
}

.headerNavbar {
  padding-left: 50%;
}

.nav-link{
  margin-left: 1rem;
}

.nav-link:hover {
  font-style: italic;
  background-color: #162539;
  color: white;
}

.log-out-text {
  margin-left: 2rem;
}

.log-out-text:hover {
  font-style: italic;
}
