<div class="header">
  <a class="navbar-brand" routerLink="home">
    <img src="../assets/logo_banner.png" alt="logo" width="111" height="50">
  </a>
  <div *ngIf="isLoggedIn()" style="color: white; width: 85%; margin: auto">
    Hello, {{authService.getFName()}} {{authService.getLName()}}</div>
  <button *ngIf="isLoggedIn()" class="btn btn-outline-secondary logbutton" type="submit" routerLink="../home"
          (click)="signOut()">Log out
  </button>
  <button *ngIf="!isLoggedIn()" class="btn btn-outline-secondary logbutton" type="submit"
          routerLink="../signin">Log in or create an account
  </button>
</div>

<alert></alert>

<div *ngIf="isLoggedIn()" style="display: flex; top: 0;">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a routerLink="../home"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4" style="margin-left: 2rem;">Navigation</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" routerLink="../home">
        <a class="nav-link link-dark">
          Home
        </a>
      </li>
      <li routerLink="../transfer">
        <a  class="nav-link link-dark">
          Transfer money
        </a>
      </li>
      <li routerLink="../account-transfer">
        <a class="nav-link link-dark">
          Account transfer
        </a>
      </li>
      <li routerLink="../deposit-money">
        <a class="nav-link link-dark">
          Deposit money
        </a>
      </li>
      <li routerLink="../home-ebanking">
        <a class="nav-link link-dark">
          Account overview
        </a>
      </li>
      <li routerLink="../trade">
        <a class="nav-link link-dark">
          Trade
        </a>
      </li>
      <li routerLink="../my-positions">
        <a class="nav-link link-dark">
          MyPositions overview
        </a>
      </li>
      <li routerLink="../historic-cash-transactions">
        <a class="nav-link link-dark">
          Cash transactions
        </a>
      </li>
      <li routerLink="../historic-trades">
        <a class="nav-link link-dark">
          trade transactions
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <strong class="log-out-text" routerLink="../contact">Contact us</strong>
      <br>
      <strong class="log-out-text" (click)="signOut()" routerLink="../home">Log out</strong>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<router-outlet *ngIf="!isLoggedIn()"></router-outlet>

<p class="mt-5 mb-3 text-muted" style="margin-left: 1rem; ">© ICT Berufsbildungscenter AG 2021</p>
