<div>
  <h1>Tickers</h1>
  <div>
    <table>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Last price</th>
        <th>Market time</th>
        <th>Change</th>
        <th>Change %</th>
        <th>Volume</th>
        <th>Market cap</th>
        <th>Intraday high/low</th>
        <th>52 week range</th>
        <th>Day chart</th>
      </tr>
      <tr>
        <td>CCLOV</td>
        <td>Clover Health Investments Corp.</td>
        <td>11.92</td>
        <td>4:00PM EDT</td>
        <td>+2.93</td>
        <td>+32.44%</td>
        <td>11.572M</td>
        <td>xxx</td>
        <td>xxx</td>
      </tr>
    </table>
  </div>
</div>
